
  @import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  overflow-X: hidden;
}


nav {
  font-family: 'Red Hat Display', sans-serif;
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem;
  box-shadow: 0px 7px 80px rgba(0, 0, 0, 0.06),
    0px 4.53704px 46.8519px rgba(0, 0, 0, 0.0455556),
    0px 2.6963px 25.4815px rgba(0, 0, 0, 0.0364444),
    0px 1.4px 13px rgba(0, 0, 0, 0.03),
    0px 0.57037px 6.51852px rgba(0, 0, 0, 0.0235556),
    0px 0.12963px 3.14815px rgba(0, 0, 0, 0.0144444);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d3c3ef;
  padding: 10px;
  text-align: center;
  color: white;
}


nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  /* display: inline-table; */
}

nav ul li {
  margin-left: 2rem;
  /* float:left; */
  /* position: relative; */
}
nav ul li a {
  color: #404040;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cbc3e3;
  padding: 0.5rem;
}
nav ul ul li {
  display: block;
  margin: 0.5rem 0;
}

nav ul li:hover > ul {
  display: block;
  width:100vw;
  position:absolute;
  justify-content: flex-end;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 0.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main img {
  max-width: 100%;
  max-height: 100%;
}



.login {
  background: #0f6292;
  color: white;
  width: 103px;
  height: 47px;
  text-align: center;
  border-radius: 13px;
}

h1 {
  font-family: "Anybody", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 168.49%;
  align-items: center;
  text-align: right;
  text-transform: capitalize;
  font-feature-settings: "kern" off;
  color: #404040;
  mix-blend-mode: normal;
}
p {
  width: 700px;
  height: 114px;
  top: 399px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 156.5%;
  display: flex;
  align-items: center;
  text-align: right;
  color: #404040;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.user-actions {
  display: flex;
  align-items: center;
}

.signup {
  margin-right: 30px; 
}