
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  overflow-X: hidden;
}

.logo{
  height:60px;
  width:60px; 
  position:relative;
  left:10px;

}
.header{
  background-color:white;
  height:65px;
}
.bg-dark{
  background-color:#0f6292;

}

.track{
  color:white;
  font-size: 20px;
  position:absolute;
  top:22px;
  right:275px;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;

}

.Ordr{
  color:white;
  font-size: 20px;
  position:absolute;
  top:22px;
  right:400px;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
}

.signup{
  /* background-color: #8DCBE6; */
  color:white;
  font-size: 23px;
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: none;
  position:absolute;
  right:18px;
  top:13px;
}

.login{
  position:absolute;
  font-family: 'Red Hat Display', sans-serif;
  right:135px;
  top:13px;
  color:white;
  text-decoration: none;
  font-size: 23px;

}


.main img {
  width:700px;
  height:500px;
  position:absolute;
  top:140px;
  left:80px;
}



h1 {
  font-family: "Anybody", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 168.49%;
  font-feature-settings: "kern" off;
  color: #404040;
  mix-blend-mode: normal;
  position:absolute;
  right:80px;
  top:280px;
}

p {
  width: 750px;
  height: 70px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 156.5%;
  color: #404040;
  position:absolute;
  right:100px;
  top:380px;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#0f6292 ;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
}


